__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
ENV/

*.txt
!day24-mail-merge/input/names/invited_names.txt
!day24-mail-merge/input/letters/starting_letter.txt

day24-mail-merge/output
day24-mail-merge/output/ready_to_send/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db